<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.25.5:1521:XE</property>
    <property name="hibernate.connection.username">desenv</property>
    <property name="hibernate.connection.password">d3s3nv</property>
    <mapping class="com.sistemaclinica.entities.PagamentoProfissional"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoUnidade"/>
    <mapping class="com.sistemaclinica.entities.BloqueioAgenda"/>
    <mapping class="com.sistemaclinica.entities.EvolucaoPaciente"/>
    <mapping class="com.sistemaclinica.entities.PagamentoFechamentoConvId"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoGuia"/>
    <mapping class="com.sistemaclinica.entities.LayoutBancario"/>
    <mapping class="com.sistemaclinica.entities.Menu"/>
    <mapping class="com.sistemaclinica.entities.ValorIndiceAtualizacao"/>
    <mapping class="com.sistemaclinica.entities.ItemProcedimento"/>
    <mapping class="com.sistemaclinica.entities.ConsumoItem"/>
    <mapping class="com.sistemaclinica.entities.EmbalagemPedidoId"/>
    <mapping class="com.sistemaclinica.entities.TipoAgendaProfissionalId"/>
    <mapping class="com.sistemaclinica.entities.ConvenioPacienteId"/>
    <mapping class="com.sistemaclinica.entities.LinhaNotaFiscal"/>
    <mapping class="com.sistemaclinica.entities.TipoAgenda"/>
    <mapping class="com.sistemaclinica.entities.ConsumoMaterial"/>
    <mapping class="com.sistemaclinica.entities.ComandoLayout"/>
    <mapping class="com.sistemaclinica.entities.PagamentoNotaFiscalId"/>
    <mapping class="com.sistemaclinica.entities.GuiaPaciente"/>
    <mapping class="com.sistemaclinica.entities.EspecialidadeProfissional"/>
    <mapping class="com.sistemaclinica.entities.Cheque"/>
    <mapping class="com.sistemaclinica.entities.ValorIndiceAtualizacaoId"/>
    <mapping class="com.sistemaclinica.entities.MovimentoCaixa"/>
    <mapping class="com.sistemaclinica.entities.LogAcessoTela"/>
    <mapping class="com.sistemaclinica.entities.ItemProcedimentoId"/>
    <mapping class="com.sistemaclinica.entities.Material"/>
    <mapping class="com.sistemaclinica.entities.ContratoCondicoes"/>
    <mapping class="com.sistemaclinica.entities.DocumentoMensagemUnidade"/>
    <mapping class="com.sistemaclinica.entities.GrupoParametro"/>
    <mapping class="com.sistemaclinica.entities.AgeHitoricoProgAgend"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoUnidadeId"/>
    <mapping class="com.sistemaclinica.entities.MeioPagamento"/>
    <mapping class="com.sistemaclinica.entities.MaterialProcedimentoId"/>
    <mapping class="com.sistemaclinica.entities.Contrato"/>
    <mapping class="com.sistemaclinica.entities.Parametro"/>
    <mapping class="com.sistemaclinica.entities.ConvenioBancarioId"/>
    <mapping class="com.sistemaclinica.entities.PortadorUsuario"/>
    <mapping class="com.sistemaclinica.entities.AgeParametrosId"/>
    <mapping class="com.sistemaclinica.entities.HorarioUnidade"/>
    <mapping class="com.sistemaclinica.entities.GrupoProcedimento"/>
    <mapping class="com.sistemaclinica.entities.PagamentoCobranca"/>
    <mapping class="com.sistemaclinica.entities.AgeDetalhesExecucaoId"/>
    <mapping class="com.sistemaclinica.entities.ComandoLayoutId"/>
    <mapping class="com.sistemaclinica.entities.TipoAgendaProfissional"/>
    <mapping class="com.sistemaclinica.entities.AgeConjuntoValidacao"/>
    <mapping class="com.sistemaclinica.entities.PadraoMensagemErro"/>
    <mapping class="com.sistemaclinica.entities.ProximaSituacaoCheque"/>
    <mapping class="com.sistemaclinica.entities.ItemUnidadeId"/>
    <mapping class="com.sistemaclinica.entities.UsuarioUnidadeAgenda"/>
    <mapping class="com.sistemaclinica.entities.Cidade"/>
    <mapping class="com.sistemaclinica.entities.AgeDetalhesExecucao"/>
    <mapping class="com.sistemaclinica.entities.ComposicaoPagamentoProf"/>
    <mapping class="com.sistemaclinica.entities.GuiaFechamento"/>
    <mapping class="com.sistemaclinica.entities.AgeAgendamento"/>
    <mapping class="com.sistemaclinica.entities.UsuarioUnidadeAgendaId"/>
    <mapping class="com.sistemaclinica.entities.BalancoItem"/>
    <mapping class="com.sistemaclinica.entities.ParametroId"/>
    <mapping class="com.sistemaclinica.entities.Pedido"/>
    <mapping class="com.sistemaclinica.entities.UnidadeMedida"/>
    <mapping class="com.sistemaclinica.entities.ProgramacaoPagamentoNfId"/>
    <mapping class="com.sistemaclinica.entities.FormaPagamento"/>
    <mapping class="com.sistemaclinica.entities.ContaOperador"/>
    <mapping class="com.sistemaclinica.entities.GrupoUsuarioGrupoId"/>
    <mapping class="com.sistemaclinica.entities.UnidadeUsuarioId"/>
    <mapping class="com.sistemaclinica.entities.EmbalagemPedido"/>
    <mapping class="com.sistemaclinica.entities.PedidoPagamentoPedidoId"/>
    <mapping class="com.sistemaclinica.entities.EmbalagemMaterial"/>
    <mapping class="com.sistemaclinica.entities.Bairro"/>
    <mapping class="com.sistemaclinica.entities.ProgramacaoPagamentoNf"/>
    <mapping class="com.sistemaclinica.entities.OrigemPacienteId"/>
    <mapping class="com.sistemaclinica.entities.MenuGrupoUsuario"/>
    <mapping class="com.sistemaclinica.entities.ConvenioEspecialidade"/>
    <mapping class="com.sistemaclinica.entities.PagamentoPedido"/>
    <mapping class="com.sistemaclinica.entities.AgeParametrosAgendamentoId"/>
    <mapping class="com.sistemaclinica.entities.ProvisaoReceita"/>
    <mapping class="com.sistemaclinica.entities.AberturaAgenda"/>
    <mapping class="com.sistemaclinica.entities.ConvenioId"/>
    <mapping class="com.sistemaclinica.entities.CategoriaItem"/>
    <mapping class="com.sistemaclinica.entities.PagamentoFechamentoConv"/>
    <mapping class="com.sistemaclinica.entities.CustoGeralMensal"/>
    <mapping class="com.sistemaclinica.entities.MaterialPedido"/>
    <mapping class="com.sistemaclinica.entities.PagamentoPaciente"/>
    <mapping class="com.sistemaclinica.entities.ConvenioBancario"/>
    <mapping class="com.sistemaclinica.entities.Unidade"/>
    <mapping class="com.sistemaclinica.entities.RegiaoProcedimento"/>
    <mapping class="com.sistemaclinica.entities.TipoAgendaId"/>
    <mapping class="com.sistemaclinica.entities.CampoLayout"/>
    <mapping class="com.sistemaclinica.entities.UsuGrupoTelaRelGraId"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoGuiaFechamento"/>
    <mapping class="com.sistemaclinica.entities.Consultorio"/>
    <mapping class="com.sistemaclinica.entities.ItemUnidade"/>
    <mapping class="com.sistemaclinica.entities.Item"/>
    <mapping class="com.sistemaclinica.entities.TipoContrato"/>
    <mapping class="com.sistemaclinica.entities.Conta"/>
    <mapping class="com.sistemaclinica.entities.GrupoUsuarioGrupo"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoGrupo"/>
    <mapping class="com.sistemaclinica.entities.MeioPagamentoContaUnidadeId"/>
    <mapping class="com.sistemaclinica.entities.HorarioAberturaAgenda"/>
    <mapping class="com.sistemaclinica.entities.Parcelamento"/>
    <mapping class="com.sistemaclinica.entities.ConvenioPaciente"/>
    <mapping class="com.sistemaclinica.entities.ConsultorioId"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoContrato"/>
    <mapping class="com.sistemaclinica.entities.RemessaBancaria"/>
    <mapping class="com.sistemaclinica.entities.AgeProgAgendamento"/>
    <mapping class="com.sistemaclinica.entities.DocumentoEspacoId"/>
    <mapping class="com.sistemaclinica.entities.AgeProgAgendamentoId"/>
    <mapping class="com.sistemaclinica.entities.ProcessoGrupoUsuario"/>
    <mapping class="com.sistemaclinica.entities.CobrancaId"/>
    <mapping class="com.sistemaclinica.entities.Fornecedor"/>
    <mapping class="com.sistemaclinica.entities.MotivoGlosaId"/>
    <mapping class="com.sistemaclinica.entities.InventarioItem"/>
    <mapping class="com.sistemaclinica.entities.AgeValidacao"/>
    <mapping class="com.sistemaclinica.entities.Agenda"/>
    <mapping class="com.sistemaclinica.entities.NotaFiscal"/>
    <mapping class="com.sistemaclinica.entities.AgeConjuntoValidacaoId"/>
    <mapping class="com.sistemaclinica.entities.FechamentoConvenio"/>
    <mapping class="com.sistemaclinica.entities.Portador"/>
    <mapping class="com.sistemaclinica.entities.Titulos"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoFormaPagamentoId"/>
    <mapping class="com.sistemaclinica.entities.MovimentoTitulo"/>
    <mapping class="com.sistemaclinica.entities.UnidadeUsuario"/>
    <mapping class="com.sistemaclinica.entities.MaterialPedidoId"/>
    <mapping class="com.sistemaclinica.entities.Empresa"/>
    <mapping class="com.sistemaclinica.entities.Banco"/>
    <mapping class="com.sistemaclinica.entities.CategoriaItemId"/>
    <mapping class="com.sistemaclinica.entities.InteressePacienteId"/>
    <mapping class="com.sistemaclinica.entities.AgePrograma"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoFormaPagamento"/>
    <mapping class="com.sistemaclinica.entities.HorarioUnidadeId"/>
    <mapping class="com.sistemaclinica.entities.ProcedimentoPaciente"/>
    <mapping class="com.sistemaclinica.entities.PedidoPagamentoPedido"/>
    <mapping class="com.sistemaclinica.entities.EmbalagemItemId"/>
    <mapping class="com.sistemaclinica.entities.Processo"/>
    <mapping class="com.sistemaclinica.entities.EspecialidadeProfissionalId"/>
    <mapping class="com.sistemaclinica.entities.ProximaSituacaoChequeId"/>
    <mapping class="com.sistemaclinica.entities.BalancoItemId"/>
    <mapping class="com.sistemaclinica.entities.PagamentoNotaFiscal"/>
    <mapping class="com.sistemaclinica.entities.UsuGrupoTelaRelGra"/>
    <mapping class="com.sistemaclinica.entities.ChequePagamentoPedidoId"/>
    <mapping class="com.sistemaclinica.entities.CategoriaProcedimento"/>
    <mapping class="com.sistemaclinica.entities.AgeParametros"/>
    <mapping class="com.sistemaclinica.entities.UnidadeFederativa"/>
    <mapping class="com.sistemaclinica.entities.Especialidade"/>
    <mapping class="com.sistemaclinica.entities.ContratoCondicoesId"/>
    <mapping class="com.sistemaclinica.entities.PagamentoFornecedor"/>
    <mapping class="com.sistemaclinica.entities.ChequePagamentoPedido"/>
    <mapping class="com.sistemaclinica.entities.UsuGrupoProg"/>
    <mapping class="com.sistemaclinica.entities.MaterialProcedimento"/>
    <mapping class="com.sistemaclinica.entities.InteressePaciente"/>
    <mapping class="com.sistemaclinica.entities.InventarioItemId"/>
    <mapping class="com.sistemaclinica.entities.DocumentoMensagemUnidadeId"/>
    <mapping class="com.sistemaclinica.entities.UsuGrupoProgId"/>
    <mapping class="com.sistemaclinica.entities.ContaOperadorId"/>
    <mapping class="com.sistemaclinica.entities.ArquivoLiquidacao"/>
    <mapping class="com.sistemaclinica.entities.ItemMenu"/>
    <mapping class="com.sistemaclinica.entities.Orcamento"/>
    <mapping class="com.sistemaclinica.entities.BairroId"/>
    <mapping class="com.sistemaclinica.entities.ListaRegiaoProcedimento"/>
    <mapping class="com.sistemaclinica.entities.Documento"/>
    <mapping class="com.sistemaclinica.entities.TabelaConvenio"/>
    <mapping class="com.sistemaclinica.entities.InventarioId"/>
    <mapping class="com.sistemaclinica.entities.ConvenioEspecialidadeId"/>
    <mapping class="com.sistemaclinica.entities.MeioPagamentoContaUnidade"/>
    <mapping class="com.sistemaclinica.entities.CfgBancariaUnidade"/>
    <mapping class="com.sistemaclinica.entities.OrigemPaciente"/>
    <mapping class="com.sistemaclinica.entities.ControleCaixa"/>
    <mapping class="com.sistemaclinica.entities.TipoNotaFiscal"/>
    <mapping class="com.sistemaclinica.entities.CidadeId"/>
    <mapping class="com.sistemaclinica.entities.MovimentacaoCheque"/>
    <mapping class="com.sistemaclinica.entities.Inventario"/>
    <mapping class="com.sistemaclinica.entities.MotivoGlosa"/>
    <mapping class="com.sistemaclinica.entities.Profissional"/>
    <mapping class="com.sistemaclinica.entities.PortadorUsuarioId"/>
    <mapping class="com.sistemaclinica.entities.Convenio"/>
    <mapping class="com.sistemaclinica.entities.DocumentoEspaco"/>
    <mapping class="com.sistemaclinica.entities.Cobranca"/>
    <mapping class="com.sistemaclinica.entities.PlanoContas"/>
    <mapping class="com.sistemaclinica.entities.GrupoUsuario"/>
    <mapping class="com.sistemaclinica.entities.LinhasArquivoLiquidacaoId"/>
    <mapping class="com.sistemaclinica.entities.PagamentosTitulos"/>
    <mapping class="com.sistemaclinica.entities.Procedimento"/>
    <mapping class="com.sistemaclinica.entities.SituacaoCheque"/>
    <mapping class="com.sistemaclinica.entities.MenuGrupoUsuarioId"/>
    <mapping class="com.sistemaclinica.entities.EspecialidadeId"/>
    <mapping class="com.sistemaclinica.entities.RepasseProfissional"/>
    <mapping class="com.sistemaclinica.entities.TelaRelatorioGrafico"/>
    <mapping class="com.sistemaclinica.entities.ContaPagar"/>
    <mapping class="com.sistemaclinica.entities.MovimentacaoChequeId"/>
    <mapping class="com.sistemaclinica.entities.Paciente"/>
    <mapping class="com.sistemaclinica.entities.ConsumoMaterialId"/>
    <mapping class="com.sistemaclinica.entities.IndiceAtualizacao"/>
    <mapping class="com.sistemaclinica.entities.AgeParametrosAgendamento"/>
    <mapping class="com.sistemaclinica.entities.EmbalagemItem"/>
    <mapping class="com.sistemaclinica.entities.LinhasArquivoLiquidacao"/>
    <mapping class="com.sistemaclinica.entities.ListaRegiaoProcedimentoId"/>
    <mapping class="com.sistemaclinica.entities.CampoLayoutId"/>
    <mapping class="com.sistemaclinica.entities.ProcessoGrupoUsuarioId"/>
  </session-factory>
</hibernate-configuration>
